*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    text-align: center;
    padding: 20px 0;}

header h1 {
    color: #ff7200;
    font-size: 3rem;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(image/background/15.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 50%;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 8px;
    color: #fff;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.back-button {
    text-align: center;
    margin-top: 30px;
}

.back-button a {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.back-button a:hover {
    background-color: red;
    color: white;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
}
